<section class="dock-surface">
  <div class="view-expanded"></div>
    <header class="dock-header">
      <h3 class="dock-title">{{title}}</h3>
      <div class="dock-subtitle">{{localize "CS.DMDock.ToolLabel"}} : {{tool}}</div>
    </header>
    <div class="dock-body">
      {{> content panel}}
    </div>
  </div>
</section>
